@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,800;1,200;1,400;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
}

/*----------HEADER----------*/
header {
    background-color: rgba(48, 106, 129, 0.700);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 120px;
    border-bottom: 3px solid rgb(17, 176, 216);
}

header a img {
    height: 100px;
    width: 80px;
    margin-left: 150px;
}

header nav {
    display: flex;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline-block;
    padding: 5px 20px 5px 20px;
}

header nav ul li a {
    text-decoration: none;
    color: rgb(17, 176, 216);
    font-size: 30px;
    transition: all 0.25s ease;
}

header nav ul li a:hover{
    color: white;
}

/*----------MAIN----------*/

.hero {
    width: 100vw;
    height: 100vh;
    background-image: url(../img/messi-prueba-2.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border-bottom: 3px solid rgb(17, 176, 216);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.hero .titulo {
    width: 600px;
    height: 40vh;
    text-align: center;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgba(48, 106, 129, 0.700);
    border: 3px solid rgb(17, 176, 216);
    border-radius: 5%;
}

.hero .titulo h1 {
    font-size: 40px;
    width: 600px;
    padding: 10px;
}

.hero .titulo div {
    width: 600px;
    padding: 10px;
    color: white;
    font-size: 16px;
}

.partidos-contenedor {
    background-color: rgb(172, 206, 219);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 500px;
}

.partidos-contenedor .partido-tarjeta {
    border: 3px solid black;
    background-color: rgb(16, 16, 110);
    width: 400px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8%;
    box-shadow: 14px 12px 51px -20px rgba(0,0,0,1);
    -webkit-box-shadow: 14px 12px 51px -20px rgba(0,0,0,1);
    -moz-box-shadow: 14px 12px 51px -20px rgba(0,0,0,1);
}

.partidos-contenedor .partido-tarjeta h3 {
    text-align: center;
    font-size: 30px;
    color: white;
    width: 100%;
    height: 10%;
    padding: 20px;
    margin-bottom: 20px;
}

.partidos-contenedor .partido-tarjeta .resultado {
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.partidos-contenedor .partido-tarjeta .resultado img {
    height: 80px;
    width: 80px;
    margin: 10px;
}

.partidos-contenedor .partido-tarjeta .resultado p {
    font-size: 40px;
    color: white;
}

.partidos-contenedor .partido-tarjeta .datos {
    color: white;
    text-align: center;
    width: 80%;
}

.partidos-contenedor .partido-tarjeta .datos p {
    margin: 20px 0px 20px 0px;
    padding: 5px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    width: 100%;
}

.noticias{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.noticias .noticias-titulo {
    text-align: center;
    margin: 30px 0px 30px 0px;
    font-size: 50px;
    background-color: rgb(17, 176, 216);
    border-top: 4px solid rgba(4, 95, 131, 0.705);
    border-bottom: 4px solid rgba(4, 95, 131, 0.705);
    color: white;
    width: 100vw;
}

/*! ----- NOTICIAS GRIDS ----- */
.noticias .noticias-grids{
    width: 90%;
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    gap: 30px;
}

.noticias .noticias-grids div{
    border: 2px solid black;
}

.noticias .noticias-grids .noticia-tarjeta{
    border: 4px solid rgb(4, 95, 131);
    background-color: rgb(194, 228, 241);
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 11px 11px 0px rgba(0,0,0,0.46);
-webkit-box-shadow: 0px 11px 11px 0px rgba(0,0,0,0.46);
-moz-box-shadow: 0px 11px 11px 0px rgba(0,0,0,0.46);
}

.noticias .noticias-grids h3 {
    text-align: center;
    padding: 10px 0px 10px 0px;
    font-size: 18px;
    background-color: rgb(106, 200, 236);
    height: 60px;
    width: 100%;
}

.noticias .noticias-grids img {
    height: 250px;
    width: 100%;
}

.noticias .noticias-grids p {
    font-size: 14px;
    padding: 5px;
}

.noticias .noticias-grids a {
    text-decoration: none;
    color: black;
    background-color: rgb(106, 200, 236);
    border: 2px solid rgb(4, 95, 131);
    padding: 5px;
}

.redes {
    margin: 50px 0px 50px 0px;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.redes .contenedor-redes {
    height: 100%;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.redes .contenedor-redes h2 {
    font-size: 35px;
    color: rgb(4, 75, 104);
    ;
}

.redes .contenedor-redes img {
    width: 120px;
    margin: 10px;
}

/** contacto.html */

.section-contacto {
    background-image: url(../img/messi-prueba-1.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    height: 115vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-contacto .contenedor-form {
    background-color: rgba(48, 106, 129, 0.700);
    border: 3px solid rgb(17, 176, 216);
    border-radius: 5%;
    width: 40vw;
}

.section-contacto .contenedor-form h1 {
    text-align: center;
    padding-top: 5px;

}

.section-contacto .contenedor-form .subtitulo {
    font-size: 16px;
    text-align: center;
    margin: 5px 0px 10px 0px;
    padding-bottom: 5px;
    border-bottom: 3px solid rgb(17, 176, 216);
}

.section-contacto .contenedor-form .formulario div {
    padding: 5px;
}

.section-contacto .contenedor-form .formulario .pais {
    display: inline-block;
}

.section-contacto .contenedor-form .agradecimiento {
    text-align: center;
    font-size: 18px;
}

/** ----ESTADISTICAS.HTML----*/

.hero-estadisticas{
    background-image: url(../img/fondo-celeste.jpg);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-estadisticas .estadisticas-contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-estadisticas .estadisticas-contenedor h1{
    font-size: 80px;
    margin-bottom: 30px;
    color: rgb(48, 106, 129);
}

.hero-estadisticas .estadisticas-contenedor ul{
    width: 80%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.hero-estadisticas .estadisticas-contenedor ul a{
    text-decoration: none;
    color: rgb(48, 106, 129);
    font-size: 35px;
}

.estadisticas-bloque{
    height: 100vh;
    padding: 20px 0px 20px 50px;
}

.estadisticas-bloque .nav-estadisticas{
    display: flex;
    justify-content: space-between;

}

.estadisticas-bloque h2{
    font-size: 70px;
    height: 15%;

}

.estadisticas-bloque ul{
    list-style: none;
    display: flex;
    margin-right: 50px;

}

.estadisticas-bloque ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.estadisticas-bloque ul li a{
    text-decoration: none;
    color: white;
    font-size: 25px;
}

.estadisticas-bloque .div-datos{
    height: 80%;
    width: 50%;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.estadisticas-bloque p{
    font-size: 40px;
    text-align: right;
    padding: 5px 20px 10px 5px;
}

.estadisticas-bloque h3{
    font-size: 40px;
}

/*----TOTAL----*/
#total{
    color: white;
    background-color: gray
}

#total p{
    background-color: rgb(0, 0, 0);
}

#total .partidos p{
    width: 85%;
}

#total .goles p{
    width: 70%;
}

#total .asistencias p{
    width: 31%;
}

#total .gya p{
    width: 100%;
}

#total:hover p{
    animation-name: barras-porcentajes;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-direction: normal;
}
@keyframes barras-porcentajes{
    0% {width: 15%;}
}

/*----ARGENTINA----*/
#argentina{
    color: white;
    background-color: skyblue;
}

#argentina p{
    background-color: rgb(22, 126, 158);
}

#argentina .partidos p{
    width: 100%;
}

#argentina .goles p{
    width: 55%;
}

#argentina .asistencias p{
    width: 30%;
}

#argentina .gya p{
    width: 85%;
}

#argentina:hover p{
    animation-name: barras-porcentajes;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-direction: normal;
}

@keyframes barras-porcentajes{
    0% {width: 15%;}
}

/*----BARCELONA----*/
#barcelona{
    background-color: rgb(21, 14, 126);
    color: rgb(189, 10, 10);
}

#barcelona .nav-estadisticas ul li a{
    color: rgb(189, 10, 10);
}

#barcelona p{
    background-color: rgb(8, 6, 54);
}

#barcelona .partidos p{
    width: 81%;
}

#barcelona .goles p{
    width: 70%;
}

#barcelona .asistencias p{
    width: 28%;
}
#barcelona .gya p{
    width: 100%;
}

#barcelona:hover p{
    animation-name: barras-porcentajes;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-direction: normal;
}

@keyframes barras-porcentajes{
    0% {width: 15%;}
}

/*----PSG----*/
#psg{
    background-color: rgb(4, 4, 51);
    color: white;
}

#psg p{
    background-color: rgb(180, 8, 8);
}

#psg .partidos p{
    width: 100%;
}

#psg .goles p{
    width: 45%;
}

#psg .asistencias p{
    width: 50%;
}

#psg .gya p{
    width: 95%;
}

#psg:hover p{
    animation-name: barras-porcentajes;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-direction: normal;
    animation-iteration-count: initial;
}

@keyframes barras-porcentajes{
    0% {width: 15%;}
}

/** ----RECORDS.HTML----*/
.hero-records{
    background-image: url(../img/fondo-celeste.jpg);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-records .hero-records-titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-records .hero-records-titulo h1{
    font-size: 100px;
    margin-bottom: 30px;
    color: rgb(48, 106, 129)
}

.hero-records .hero-records-titulo p{
    width: 90%;
    color: rgb(48, 106, 129);
    font-size: 30px;
}

.contenedor-records{
    background-image: url(../img/fondo-celeste.jpg);
    height: 2500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.contenedor-records section{
    box-shadow: 14px 12px 51px -4px rgba(0,0,0,1);
-webkit-box-shadow: 14px 12px 51px -4px rgba(0,0,0,1);
-moz-box-shadow: 14px 12px 51px -4px rgba(0,0,0,1);
}

.balones-de-oro{
    width: 80%;
    background-color: black;
    color: rgb(174, 134, 33);
    display: flex;
    align-items: center;
}

.balones-de-oro .info-bdo{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.balones-de-oro .info-bdo h2{
    font-size: 40px;
}

.balones-de-oro .info-bdo p{
    width: 90%;
    font-size: 18px;
}

.balones-de-oro .info-bdo h3{
    width: 90%;
    font-size: 25px;
}

.balones-de-oro .carousel{
    width: 50vw;
}
.balones-de-oro .carousel .carousel-inner img{
    height: 70vh;
}

.records-barcelona{
    width: 80%;
    background-color: rgb(21, 14, 126);
    color: rgb(189, 10, 10);
    display: flex;
    align-items: center;
}

.records-barcelona .info-records-barcelona{
    height: 300px;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.records-barcelona .info-records-barcelona h2{
    font-size: 25px;
}

.records-barcelona img{
    width: 700px;
    height: 500px;
}

.records-argentina{
    width: 80%;
    color: white;
    background-color: rgb(0, 167, 233);
    display: flex;
    align-items: center;
}

.records-argentina .info-records-argentina{
    height: 300px;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.records-argentina .info-records-argentina h2{
    font-size: 35px;
}

.records-argentina img{
    width: 700px;
    height: 500px;
}

.records-individuales{
    width: 80%;
    color: white;
    background-color: rgb(48, 106, 129);
    display: flex;
    align-items: center;
}

.records-individuales .info-records-individuales{
    height: 300px;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.records-individuales .info-records-individuales h2{
    font-size: 35px;
}

.records-individuales img{
    width: 700px;
    height: 500px;
}


/** ----GALERIA.HTML----*/
.main-galeria{
    background-image: url(../img/fondo-celeste.jpg);
}

.titulo-galeria{
    text-align: center;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: end;
}

.titulo-galeria h1{
    width: 100vw;
    font-size: 50px;
    padding: 10px;
    color: rgb(48, 106, 129);
}

.galeria-grids{
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: repeat(6, 1fr);
    gap: 18px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0);
}

.galeria-grids div img{
    width: 100%;
    height: 100%;
}

.galeria-grids .imagen-1{
    grid-column: 1/3;
    grid-row: 1/3;
}

.galeria-grids .imagen-2{
    grid-column: 3/5;
    grid-row: 1/3;
}

.galeria-grids .imagen-3{
    grid-column: 1/3;
    grid-row:3/5;
}

.galeria-grids .imagen-4{
    grid-column: 4/6;
    grid-row: 3/5;
}

.galeria-grids .imagen-5{
    grid-column: 5/7;
    grid-row: 1/3;
}

.galeria-grids .imagen-6{
    grid-column: 1/4;
    grid-row: 5/8;
}

.galeria-grids .imagen-7{
    grid-column: 5/7;
    grid-row: 8/10;
}

.galeria-grids .imagen-8{
    grid-column: 1/3;
    grid-row: 8/10;
}

.galeria-grids .imagen-9{
    grid-column: 6/7;
    grid-row: 3/5;
}

.galeria-grids .imagen-10{
    grid-column: 4/7;
    grid-row: 5/6;
}

.galeria-grids .imagen-11{
    grid-column: 3/4;
    grid-row: 3/5;
}

.galeria-grids .imagen-12{
    grid-column: 3/5;
    grid-row: 8/10;
}

.galeria-grids .imagen-13{
    grid-column: 4/7;
    grid-row: 6/8;
}

.galeria-grids div{
    text-align: center;
    font-size: 30px;
}

.img-hover{
    transition: all 0.5s;
}

.img-hover:hover{
    scale: 1.03;
}

/*----------FOOTER----------*/

.footer-contenedor {
    background-color: rgb(48, 106, 129);
    color: white;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-contenedor .info-footer{
    padding-left: 10px;
}

.footer-contenedor h4{
    font-size: 18px;
}

.footer-contenedor p{
    font-size: 16px;
}

.footer-contenedor .tomas {
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-right: 10px;
}

.footer-contenedor .tomas a img {
    width: 60px;
    height: 60px;
}



/*! ---- MEDIA QUERYS ---- */
@media screen and (max-width:1330px){
    header a img{
        margin-left: 120px;
    }

    .partidos-contenedor .partido-tarjeta .resultado{
        width: 300px;
    }
}

@media screen and (max-width:1161px){
    header{
        flex-direction: column;
        height: 170px;
        padding-top: 10px;
    }
    header a img{
        margin-left: 0px;
    }

    .hero{
        justify-content: center;
        align-items: center;
    }
    .hero .titulo{
        margin-right: 0px;
        height: 220px;
    }
    .partidos-contenedor .partido-tarjeta{
        height: 350px;
    }

    .noticias .noticias-grids{
        grid-template-columns: 1fr 1fr;
        gap: 50px;
    }
}

@media screen and (max-width:1065px){
    .partidos-contenedor{
        flex-direction: column;
        height: 800px;
    }
    .partidos-contenedor .partido-tarjeta h3{
        font-size: 25px;
    }
    .partidos-contenedor .partido-tarjeta .resultado img{
        height: 60px;
        width: 60px;
    }

    .footer-contenedor h4{
        font-size: 16px;
    }
    .footer-contenedor p{
        font-size: 14px;
    }   
}

@media screen and (max-width:931px){
    header nav ul li a{
        font-size: 25px;
    }
    header nav ul li {
        padding: 5px 10px 5px 10px;
    }
    header a img{
        height: 80px;
        width: 65px;
    }
    header{
        height: 140px;
    }

    .footer-contenedor .tomas{
        width: 300px;
    }
    .footer-contenedor .tomas a img {
        width: 50px;
        height: 50px;
    }
}

@media screen and (max-width:850px){
    .noticias .noticias-grids{
        grid-template-columns: 1fr;
        gap: 20px;
        width: 60%;
    }

    .footer-contenedor{
        flex-direction: column;
        height: 120px;
    }
    .footer-contenedor .info-footer{
        padding-left: 0px;
        padding-top: 10px ;
    }
    .footer-contenedor h4{
        text-align: center;
    }
    .footer-contenedor .tomas {
        padding-right: 0px;
        padding-bottom: 10px;
    }

}

@media screen and (max-width:712px){
    header nav ul li a{
        font-size: 20px;
    }
    header nav ul li {
        padding: 0px 10px 5px 10px;
    }
    header{
        height: 130px;
    }
}

@media screen and (max-width:680px){
    .hero .titulo{
        width: 500px;
        height: 170px;
    }
    .hero .titulo h1{
        font-size: 30px;
        width: 500px;
    }
    .hero .titulo div{
        width: 500px;
        font-size: 14px;
    }
}

@media screen and (max-width:593px){
    header nav ul li a{
        font-size: 15px;
    }
    header a img{
        height: 60px;
        width: 50px;
    }
    header{
        height: 100px;
    }

    .hero .titulo{
        width: 450px;
        height: 155px;
    }
    .hero .titulo h1{
        font-size: 25px;
        width: 450px;
    }
    .hero .titulo div{
        width: 450px;
        font-size: 13px;
        padding: 5px;
    }

    .partidos-contenedor{
        height: 650px;
    }
    .partidos-contenedor .partido-tarjeta{
        width: 300px;
        height: 300px;
    }
    .partidos-contenedor .partido-tarjeta h3{
        font-size: 20px;
    }
    .partidos-contenedor .partido-tarjeta .resultado img{
        height: 50px;
        width: 50px;
    }
    .partidos-contenedor .partido-tarjeta .datos p{
        margin: 10px 0px 10px 0px;
    }

    .noticias .noticias-titulo{
        margin: 20px 0px 20px 0px;
        font-size: 35px;
    }
    .noticias .noticias-grids{
        width: 70%;
    }
    .noticias .noticias-grids .noticia-tarjeta{
        height: 400px;
    }
    .noticias .noticias-grids img {
        height: 200px;
    }
    .noticias .noticias-grids p {
        font-size: 12px;
    }
    .noticias .noticias-grids a {
        padding: 3px;
        font-size: 12px;
    }

    .redes{
        margin: 30px 0 0 0;
        height: 20vh;
    }
    .redes .contenedor-redes h2{
        font-size: 25px;
    }
    .redes .contenedor-redes img{
        width: 90px;
    }

    .footer-contenedor{
        height: 130px;
    }
    .footer-contenedor p{
        width: 350px;
        text-align: center;
    }
    .footer-contenedor .tomas a img {
        width: 40px;
        height: 40px;
    }
}

@media screen and (max-width:506px){
    .noticias .noticias-grids h3{
        font-size: 16px;
        height: 50px;
    }
}

@media screen and (max-width:473px){
    header nav ul li a{
        font-size: 10px;
    }
    header a img{
        height: 40px;
        width: 30px;
    }
    header{
        height: 80px;
    }

    .hero .titulo{
        width: 350px;
        height: 130px;
    }
    .hero .titulo h1{
        font-size: 20px;
        width: 350px;
    }
    .hero .titulo div{
        width: 350px;
        font-size: 10px;
        padding: 5px;
    }
}

@media screen and (max-width:450px){
    .noticias .noticias-grids h3{
        font-size: 14px;
    }
    .noticias .noticias-grids p{
        font-size: 11px;
    }
}

@media screen and (max-width:395px){
    .noticias .noticias-grids{
        width: 80%;
    }
    .noticias .noticias-grids h3{
        font-size: 12px;
        height: 40px;
    }

    .redes{
        margin: 20px 0 0 0;
    }
    .redes .contenedor-redes h2{
        font-size: 20px;
    }
    .redes .contenedor-redes img{
        width: 80px;
        margin: 5px;
    }
}

@media screen and (max-width:380px){
    .hero .titulo{
        width: 300px;
        height: 130px;
    }
    .hero .titulo h1{
        font-size: 18px;
        width: 300px;
    }
    .hero .titulo div{
        width: 300px;
        font-size: 8px;
        padding: 2px;
    }

    .partidos-contenedor{
        height: 600px;
    }
    .partidos-contenedor .partido-tarjeta{
        width: 250px;
        height: 250px;
    }
    .partidos-contenedor .partido-tarjeta h3{
        font-size: 20px;
    }
    .partidos-contenedor .partido-tarjeta .resultado{
        width: 200px;
    }
    .partidos-contenedor .partido-tarjeta .resultado p{
        font-size: 30px;
    }
    .partidos-contenedor .partido-tarjeta .resultado img{
        height: 40px;
        width: 40px;
    }
    .partidos-contenedor .partido-tarjeta .datos p{
        margin: 10px 0px 10px 0px;
        font-size: 11px;
    }

    .noticias .noticias-titulo{
        font-size: 28px;
    }
}

@media screen and (max-width:354px){
    header nav ul li a{
        font-size: 8px;
    }
    header a img{
        height: 40px;
        width: 30px;
    }
    header{
        height: 70px;
        padding-top: 5px;
    }

    .footer-contenedor{
        height: 110px;
    }
    .footer-contenedor h4{
        font-size: 14px;
    }
    .footer-contenedor p{
        font-size: 12px;
        width: 320px;
    }
    .footer-contenedor .tomas{
        width: 250px;
    }
    .footer-contenedor .tomas a img{
        width: 30px;
        height: 30px;
    }
}

/*! MEDIA QUERYS GALERIA */
@media screen and (max-width:1300px){
    .galeria-grids{
        gap: 12px;
    }
}
@media screen and (max-width:1161px){
    .titulo-galeria{
        height: 280px;
    }
}

@media screen and (max-width:920px){
    .titulo-galeria{
        height: 240px;
    }
    .titulo-galeria h1{
        font-size: 40px;
    }
    .galeria-grids{
        gap: 10px;
    }
}

@media screen and (max-width:740px){
    .titulo-galeria{
        height: 200px;
    }
    .titulo-galeria h1{
        font-size: 35px;
    }
    .galeria-grids{
        grid-template-columns: repeat(4, 1fr);
        padding: 10px;
    }
    .galeria-grids .imagen-1{
        grid-column: 1/3;
        grid-row: 1/3;
    }
    .galeria-grids .imagen-2{
        grid-column: 3/5;
        grid-row: 1/3;
    }
    .galeria-grids .imagen-3{
        grid-column: 1/3;
        grid-row:3/5;
    }
    .galeria-grids .imagen-4{
        grid-column: 3/5;
        grid-row: 5/7;
    }
    .galeria-grids .imagen-5{
        grid-column: 3/5;
        grid-row: 3/5;
    }
    .galeria-grids .imagen-6{
        grid-column: 1/3;
        grid-row: 5/7;
    }
    .galeria-grids .imagen-7{
        grid-column: 3/5;
        grid-row: 11/14;
    }
    .galeria-grids .imagen-8{
        display: none;
    }
    .galeria-grids .imagen-9{
        grid-column: 4/5;
        grid-row: 7/9;
    }
    .galeria-grids .imagen-10{
        grid-column: 1/4;
        grid-row: 7/8;
    }
    .galeria-grids .imagen-11{
        grid-column: 4/5;
        grid-row: 9/11;
    }
    .galeria-grids .imagen-12{
        grid-column: 1/3;
        grid-row: 11/14;
    }
    .galeria-grids .imagen-13{
        grid-column: 1/4;
        grid-row: 8/11;
    }

    .img-hover:hover{
        scale: 1.03;
    }
}

@media screen and (max-width:650px){
    .titulo-galeria h1{
        font-size: 30px;
    }
}

@media screen and (max-width:560px){
    .titulo-galeria{
        height: 180px;
    }
    .titulo-galeria h1{
        font-size: 25px;
    }
}

@media screen and (max-width:470px){
    .titulo-galeria{
        height: 150px;
    }
    .titulo-galeria h1{
        font-size: 20px;
    }
    .galeria-grids{
        grid-template-columns: repeat(2, 1fr);
    }
    .galeria-grids .imagen-1{
        grid-column: 1/3;
        grid-row: 1/3;
    }
    .galeria-grids .imagen-2{
        grid-column: 1/3;
        grid-row: 3/5;
    }
    .galeria-grids .imagen-3{
        grid-column: 1/3;
        grid-row:7/9;
    }
    .galeria-grids .imagen-4{
        grid-column: 1/3;
        grid-row: 9/11;
    }
    .galeria-grids .imagen-5{
        grid-column: 1/3;
        grid-row: 5/7;
    }
    .galeria-grids .imagen-6{
        grid-column: 1/3;
        grid-row: 14/16;
    }
    .galeria-grids .imagen-7{
        grid-column: 1/3;
        grid-row: 19/21;
    }
    .galeria-grids .imagen-8{
        display: none;
    }
    .galeria-grids .imagen-9{
        grid-column: 1/2;
        grid-row: 11/13;
    }
    .galeria-grids .imagen-10{
        grid-column: 1/3;
        grid-row: 13/14;
    }
    .galeria-grids .imagen-11{
        grid-column: 2/3;
        grid-row: 11/13;
    }
    .galeria-grids .imagen-12{
        grid-column: 1/3;
        grid-row: 19/21;
    }
    .galeria-grids .imagen-13{
        grid-column: 1/3;
        grid-row: 16/19;
    }
}

@media screen and (max-width:380px){
    .titulo-galeria{
        height: 130px;
    }
    .titulo-galeria h1{
        font-size: 15px;
    }
}