.footer-contenedor{
    background-color: nth($colores, 2);
    color: white;
    height: 100px;
    @include flex (flex, row, space-between, center);
    .info-footer{
        padding-left: 10px;
    }
    .tomas{
        width: 350px;
        @include flex (flex, row, center, space-around);
        padding-right: 10px;
        a{
            img{    
                width: 60px;
                height: 60px;}
        }
    }
    h4{
        font-size: 18px;
    }
    p{
        font-size: 16px;
    }
}