.section-contacto{
    background-image: url(../img/messi-prueba-1.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    height: 115vh;
    display: flex;
    flex-direction: column; //! FLEX SIN MIXIN
    justify-content: center;
    .contenedor-form{
        background-color: nth($colores, 3);
        border: 3px solid nth($colores, 1);
        border-radius: 5%;
        width: 600px;
        height: 500px;
        margin-left: 40px;
        h1{
            text-align: center;
            padding-top: 5px;
        }
        .subtitulo{
            font-size: 16px;
            text-align: center;
            margin: 5px 0px 10px 0px;
            padding-bottom: 5px;
            border-bottom: 3px solid nth($colores, 1);
        }
        form{
            div{
                padding: 5px;
                label{
                    font-size: 16px;
                }
                input{
                    width: 173px;
                }
                p{
                    font-size: 16px;
                }
            }
            .pais{
                display: inline-block;
            }
        }
        .agradecimiento{
            text-align: center;
            font-size: 18px;
        }
    }
}