.hero-estadisticas{
    background-image: url(../img/fondo-celeste.jpg);
    width: 100vw;
    height: 100vh;
    @include flex (flex, center, center);
    .estadisticas-contenedor{
        display: flex;
        flex-direction: column;         //! FLEX SIN MIXIN
        align-items: center;
        h1{
            font-size: 80px;
            font-weight: bold;
            margin-bottom: 30px;
            color: nth($colores, 2);
        }
        ul{
            width: 80%;
            list-style: none;
            display: flex;              //! FLEX SIN MIXIN
            justify-content: space-evenly;
            li{
                a{
                    text-decoration: none;
                    color: nth($colores, 2);
                    font-size: 35px;
                }
            }
        }
    }
}

.estadisticas-bloque{
    height: 100vh;
    padding: 20px 0px 20px 50px;
    .nav-estadisticas{
        display: flex; //! FLEX SIN MIXIN
        justify-content: space-between;
        h2{
            font-size: 70px;
            height: 15%;
        }
        ul{
            list-style: none;
            display: flex;
            margin-right: 50px;
            li{
                @include flex (flex, center, center);
                margin: 10px;
                a{
                    text-decoration: none;
                    color: white;
                    font-size: 25px;
                }
            }
        }
    }
    .div-datos{
        height: 80%;
        width: 50%;
        font-size: 30px;
        display: flex;
        flex-direction: column;         //! SIN MIXIN
        justify-content: space-around;
        h3{
            font-size: 40px;
        }
        p{
            font-size: 40px;
            text-align: right;
            padding: 5px 20px 10px 5px;
        }
    }
}

#total{
    color: white;
    background-color: gray;
    p{
        background-color: rgb(0, 0, 0);
    }
    .partidos {
        p{
            width: 85%;
        }
    }
    .goles {
        p{
            width: 70%;
        }
    }
    .asistencias {
        p{
            width: 31%;
        }
    }
    .gya {
        p{
            width: 100%;
        }
    }
    &:hover{
        p{
            animation-name: barras-porcentajes;
            animation-duration: 3s;
            animation-timing-function: ease;
            animation-direction: normal;
        }
    }
}

#argentina{
    color: white;
    background-color: skyblue;
    p{
        background-color: rgb(22, 126, 158);
    }
    .partidos {
        p{
            width: 100%;
        }
    }
    .goles {
        p{
            width: 55%;
        }
    }
    .asistencias {
        p{
            width: 30%;
        }
    }
    .gya {
        p{
            width: 85%;
        }
    }
    &:hover{
        p{
            animation-name: barras-porcentajes;
            animation-duration: 3s;
            animation-timing-function: ease;
            animation-direction: normal;
        }
    }
}

#barcelona{
    background-color: rgb(21, 14, 126);
    color: rgb(189, 10, 10);
    .nav-estadisticas{
        ul{
            li{
                a{
                    color: rgb(189, 10, 10);
                }
            }
        }
    }
    p{
        background-color: rgb(8, 6, 54)
    }
    .partidos {
        p{
            width: 81%;
        }
    }
    .goles {
        p{
            width: 70%;
        }
    }
    .asistencias {
        p{
            width: 28%;
        }
    }
    .gya {
        p{
            width: 100%;
        }
    }
    &:hover{
        p{
            animation-name: barras-porcentajes;
            animation-duration: 3s;
            animation-timing-function: ease;
            animation-direction: normal;
        }
    }
}

#psg{
    background-color: rgb(4, 4, 51);
    color: white;
    p{
        background-color: rgb(180, 8, 8);
    }
    .partidos {
        p{
            width: 100%;
        }
    }
    .goles {
        p{
            width: 45%;
        }
    }
    .asistencias {
        p{
            width: 50%;
        }
    }
    .gya {
        p{
            width: 95%;
        }
    }
    &:hover{
        p{
            animation-name: barras-porcentajes;
            animation-duration: 3s;
            animation-timing-function: ease;
            animation-direction: normal;
        }
    }
}

@keyframes barras-porcentajes{
    0% {width: 15%;}
}