.hero-records{
    background-image: url(../img/fondo-celeste.jpg);
    width: 100vw;
    height: 100vh;
    @include flex (flex, row, center, center);
    .hero-records-titulo{
        @include flex (flex, column, flex-start, center);
        h1{
            font-size: 80px;
            font-weight: bold;
            margin-bottom: 30px;
            color: nth($colores, 2);
        }
        p{
            width: 100%;
            color: nth($colores, 2);
            font-size: 25px;
            text-align: center;
            margin-bottom: 0px;
        }
    }
}

.contenedor-records{
    background-image: url(../img/fondo-celeste.jpg);
    height: 3500px;
    @include flex (flex, column, space-evenly, center);
    section{
        width: 90%;
        display: flex;
        align-items: center;
        @include flex (flex, row, flex-start, center);
        box-shadow: 14px 12px 51px -4px rgba(0,0,0,1);
        -webkit-box-shadow: 14px 12px 51px -4px rgba(0,0,0,1);
        -moz-box-shadow: 14px 12px 51px -4px rgba(0,0,0,1);
    }
    .balones-de-oro{
        background-color: black;
        color: rgb(174, 134, 33);
        text-align: center;
        .info-bdo{
            width: 50%;
            @include flex (flex, column, space-around, center);
            h2{
                font-size: 35px;
                font-weight: bold;
            }
            p{
                width: 90%;
                font-size: 18px;
                
            }
            .p-bdo{
                    font-weight: bold;
                }
        }
        .carousel{
            width: 50%;
            .carousel-inner{
                img{
                    width: 100%;
                }
            }
        }
    }
    .records-barcelona{
        background-color: rgb(21, 14, 126);
        color: rgb(189, 10, 10);
        .info-records-barcelona{
            width: 650%;
            @include flex (flex, column, space-around, center);
            h2{
                font-size: 40px;
                font-weight: bold;
            }
            ul{
                width: 100%;
                li{
                    p{
                        font-size: 16px;
                        margin-bottom: 5px;
                    }
                }
            }
        }
        img{
            width: 50%;
        }
    }
    .records-argentina{
        color: white;
        background-color: rgb(0, 167, 233);
        .info-records-argentina{
            width: 50%;
            @include flex (flex, column, space-around, center);
            h2{
                font-size: 40px;
                font-weight: bold;
            }
            ul{
                li{
                    p{
                        font-size: 16px;
                        margin-bottom: 5px;
                    }
                }
            }
        }
        img{
            width: 50%;
        }
    }
    .records-individuales{
        color: white;
        background-color: rgb(48, 106, 129);
        .info-records-individuales{
            width: 50%;
            @include flex (flex, column, space-around, center);
            h2{
                font-size: 40px;
                font-weight: bold;
            }
            ul{
                li{
                    p{
                        font-size: 16px;
                        margin-bottom: 5px;
                    }
                }
            }
        }
        img{
            width: 50%;
        }
    }
}